@font-face {
    font-family: MontserratAltLight;
    src: url('../fonts/montserrat/MontserratAlternates-Light.otf');
}

@font-face {
    font-family: MontserratAltSemiBold;
    src: url('../fonts/montserrat/MontserratAlternates-SemiBold.otf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../fonts/montserrat/Montserrat-Bold.otf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/montserrat/Montserrat-Regular.otf');
}

@font-face {
    font-family: AvenirHeavy;
    src: url('../fonts/avenir/AvenirHeavy.ttf');
}

@font-face {
    font-family: AvenirMedium;
    src: url('../fonts/avenir/AvenirMedium.ttf');
}

@font-face {
    font-family: GothamRoundedMedium;
    src: url('../fonts/gotham_rounded/GothamRounded-Medium.otf');
}

@font-face {
    font-family: GothamRoundedBold;
    src: url('../fonts/gotham_rounded/GothamRounded-Bold.otf');
}

@font-face {
    font-family: GothamRoundedBook;
    src: url('../fonts/gotham_rounded/GothamRounded-Book.otf');
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
    color: #e82946;
}

.transform-xy-50 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.transform-y-50 {
    position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.transform-x-50 {
    position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#top-content {
	height: 100vh;
}

#header {
	width: 100%;
    position: relative;
	z-index: 2;
    height: 20vh;
    opacity: 0.97;
    background-color: #ffffff;
    box-shadow: 0 3px 20px 0 rgba(232, 40, 70, 0.28);
}

#header-row-1 {
    height: 12vh;
    position: relative;
}

#header-title span {
    font-family: MontserratAltLight;
    font-size: 30px;
    line-height: 1.2;
    color: #df0e37;
}

#header-title #rjs {
  	font-family: MontserratAltSemiBold;
	color: #00000c;
}

#header-row-2 {
    height: 8vh;
    position: relative;
}

#header-nav-menu {
    width: 100%;
}

#header-nav-menu .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
    font-family: AvenirHeavy;
  	font-size: 14px;
  	letter-spacing: 2px;
}

#header-nav-menu > .nav > li {
    display:inline;
    padding: 0 2%;
}

#header-nav-menu > .nav > li > a {
    display: inline-block;
    color: #00000c;
}

#header-nav-menu > .nav > li > a.active, #header-nav-menu > .nav > li > a:hover, 
#header-nav-menu > .nav > li.dropdown a:hover {
	color: #e82946;
}

#header-nav-menu .nav > li:not(:last-child) {
	border-right: solid 1px #d8d8d8;
}

#image-content-div {
	height: 80vh;
  	width: 80%;
    margin: auto;
	position: relative;
	z-index: 1;
}

#image-content-div #ic-title {
	font-family: MontserratBold;
  	font-size: 60px;
  	color: #ffffff;
  	position: relative;
	margin-bottom: 40px;
}

#image-content-div #ic-desc {
	font-family: GothamRoundedMedium;
  	font-size: 18px;
  	color: #ffffff;
  	position: relative;
	margin-bottom: 60px;
}

#explore-btn {
	position: relative;
}

#explore-btn button {
	color: #ffffff;
	padding: 20px 60px;
    background-color: rgba(0, 0, 12, 0.1);
    border: solid 2px #ffffff;
    letter-spacing: 2px;
    font-size: 14px;
  	font-family: GothamRoundedBold;
	outline: none;
}

#middle-content {
	position: relative;
}

#overview-div {
	height: 75vh;
	position: relative;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.08);
	background-color: #f4f4f4;
	z-index: 2;
}

#ov-title {
	font-family: GothamRoundedMedium;
  	font-size: 24px;
  	letter-spacing: 2px;
  	text-align: center;
  	color: #00000c;
  	-webkit-text-stroke: 1px #979797;
	margin-bottom: 20px;
}

#ov-desc {
	font-family: MontserratRegular;
  	font-size: 40px;
  	line-height: 1.6;
  	text-align: center;
  	color: #e82946;
}

#ov-para {
	font-family: GothamRoundedBook;
  	font-size: 21px;
  	line-height: 1.8;
  	text-align: center;
  	color: #5a5a5a;
}

#ov-para p {
	margin-bottom: 0px;
}

#services-content .each-service {
	height: 75vh;
	z-index: 1;
}

.each-service .left, .each-service .right { 
  	width: 50%;
	height: 100%
} 

.each-service .left  { 
	float: left;
}

.each-service .right { 
	float: right;
}

.left img, .right img {
	height: 100%;
	width: 100%;
}

.left, .right {
	position: relative;
}

.left .text-content, .right .text-content {
	margin-left: 10%;
	width: 80%;
}

.specialize-div {
	font-family: GothamRoundedMedium;
  	font-size: 18px;
  	letter-spacing: 1.5px;
  	color: #00000c;
  	-webkit-text-stroke: 1px #979797;
	margin-bottom: 20px;
}

.left .text-content .title, .right .text-content .title {
	font-family: MontserratRegular;
  	font-size: 40px;
  	line-height: 1.6;
  	color: #e82946;
	margin-bottom: 20px;
}

.left .text-content .title span, .right .text-content .title span {
	color: #00000b;
}

.left .text-content .desc, .right .text-content .desc {
	font-family: GothamRoundedBook;
  	font-size: 21px;
  	line-height: 1.81;
  	color: #5a5a5a;
}

.left .text-content .divider, .right .text-content .divider {
	width: 60px;
	height: 2px;
	background-color: #00000c;
	margin-bottom: 20px;
}

#footer-content {
	height: 45vh;
	background: url('../images/landing_page/footer.jpg') center;
}

#footer-contact-div {
	width: 90%;
	height: 39vh;
	margin: 0 auto;
	position: relative;
}

#left-footer {
	float: left;
	width: 60%;
}

#right-footer {
	float: right;
	width: 40%;
	text-align: right;
}

#left-footer span, #right-footer span {
	display: block;
}

#footer-row1 {
	font-family: GothamRoundedMedium;
	font-size: 18px;
	letter-spacing: 1.5px;
	color: #f7f7f7;
	margin-bottom: 20px;
}

#footer-row2 {
	font-family: MontserratRegular;
	font-size: 32px;
	color: #e82946;
}

#footer-contact-div p {
	font-family: GothamRoundedMedium;
	font-size: 18px;
	line-height: 2.11;
	color: #ffffff;
	margin-bottom: 0px;
}

#footer-contact {
	font-family: MontserratRegular;
	font-size: 50px;
	text-align: right;
	color: #e82946;
}

#footer-email {
	font-family: MontserratRegular;
	font-size: 24px;
	text-align: right;
	color: #e82946;
}

#footer-address {
	font-family: GothamRoundedMedium;
	font-size: 18px;
	line-height: 2.11;
	text-align: center;
	color: #ffffff;
}

img.expand-icon {
	height: 25px;
	width: 25px;
	padding-left: 10px;
	vertical-align: middle;
}

.know-our-services {
	opacity: 0.5;
	font-family: MontserratRegular;
	font-size: 18px;
	color: #00000c;
	margin-top: 20px;
	cursor: pointer;
}

.service-expanded {
	display: none;
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
}

#our-services {
	font-family: GothamRoundedMedium;
	font-size: 18px;
	letter-spacing: 1.5px;
	color: #00000c;
	-webkit-text-stroke: 1px #979797;
	margin-bottom: 20px;
	display: block;
}

#expanded-service {
	font-family: MontserratRegular;
	font-size: 40px;
	line-height: 1.6;
	color: #00000b;
	display: block;
	margin-bottom: 20px;
}

#expanded-service span {
	color: #df0e37;
}

#expanded-service-list {
	font-family: GothamRoundedBook;
	font-size: 21px;
	color: #5a5a5a;
	list-style-type: none;
	padding: 0;
}

#expanded-service-list li {
	padding-bottom: 10px;
}

#expanded-service-list li::before {
	content: '>';
	color: #df0e37;
	padding-right: 10px;
}

.service-divider {
	border-bottom: solid 3px #00000c;
	width: 60px;
}