#top-content {
	background-image: url(../images/landing_page/landing_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#image-content {
	width: 50%;
}

#ov-desc {
	width: 50%;
	margin: auto;
}

#ov-para {
	width: 60%;
	margin: auto;
}

#contact-content {
	position: relative;
	height: 75vh;
  	background-color: #f4f4f4;
  	box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.08);
	z-index: 2;
}

#contact-div {
	width: 100%;
}

#contact-div #get-to-know {
	font-family: GothamRoundedMedium;
	font-size: 24px;
	letter-spacing: 2px;
	text-align: center;
	color: #00000c;
	margin-bottom: 20px;
}

#contact-div #shy-to-call {
	font-family: MontserratRegular;
	font-size: 40px;
	line-height: 1.6;
	text-align: center;
	color: #e82946;
	width: 60%;
	margin: auto;
	margin-bottom: 60px;
}

#contact-div #email-phone-div {
	width: 40%;
	margin: auto;
	margin-bottom: 60px;
	text-align: center;
	border-bottom: solid 2px #00000c;
}

#contact-div #email-phone-div input {
	font-family: GothamRoundedBold;
	font-size: 40px;
	text-align: center;
	color: #5a5a5a;
	border: none;
	background: transparent;
	outline: none;
	padding: 20px 0;
	opacity: 0.4;
}

#contact-div #call-btn {
	text-align: center;
}

#contact-div #call-btn button {
	font-family: GothamRoundedBold;
	font-size: 14px;
	letter-spacing: 2.1px;
	text-align: center;
	color: #ffffff;
	background-color: #e82946;
	border: none;
	padding: 20px 60px;
}

.dropdown {
	position: relative;
}

.dropdown-menu {
    position: absolute;
    left: -8px;
    display: none;
	padding: 0;
	padding-top: 19px;
	width: 900px;
}

.dropdown-menu li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	text-align: left;
	font-family: AvenirMedium;
	font-size: 16px;
	color: #00000c;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .nav-col {
	position: relative;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
	padding: 10px 0 20px 20px;
	border-bottom: solid 3px #e82946;
}

.dropdown-menu ul {
	padding: 0;
}

.dropdown-menu li {
	list-style: none;
	float: left;
}

.dropdown-menu .nav-col-list {
	display: inline-block; 
}

.dropdown-menu #nav-col-list1 {
	width: 20%;
}

.dropdown-menu #nav-col-list2 {
	width: 30%;
}

.dropdown-menu #nav-col-list3 {
	width: 50%;
}

#dropdown-menu-nav {
	width: 600px;
}

#dropdown-menu-img img {
	border-bottom: solid 3px #e82946;
	width: 300px;
	display: none;
}