#top-content {
	background: url(../images/landing_page/landing_bg.jpg) center no-repeat;
}

#services-content .each-service {
	height: 75vh;
	box-shadow: 0 1px 2px 0 #979797;
	z-index: 1;
}

.each-service .left, .each-service .right { 
  	width: 50%;
	height: 100%
} 

.each-service .left  { 
	float: left;
}

.each-service .right { 
	float: right;
}

.left img, .right img {
	height: 100%;
	width: 100%;
}

.left, .right {
	position: relative;
}

.left .text-content, .right .text-content {
	margin-left: 10%;
	width: 80%;
}

#specialize-div {
	font-family: GothamRoundedMedium;
  	font-size: 1.25vw; /* 18px */
  	letter-spacing: 1.5px;
  	color: #00000c;
  	-webkit-text-stroke: 1px #979797;
	margin-bottom: 20px;
}

.left .text-content .title, .right .text-content .title {
	font-family: MontserratRegular;
  	font-size: 2.78vw; /* 40px */
  	line-height: 1.6;
  	color: #e82946;
	margin-bottom: 20px;
}

.left .text-content .title span, .right .text-content .title span {
	color: #00000b;
}

.left .text-content .desc, .right .text-content .desc {
	font-family: GothamRoundedBook;
  	font-size: 1.46vw; /* 21px */
  	line-height: 1.81;
  	color: #5a5a5a;
}

.left .text-content .divider, .right .text-content .divider {
	width: 60px;
	height: 2px;
	background-color: #00000c;
	margin-bottom: 20px;
}

#contact-content {
	position: relative;
	height: 75vh;
  	background-color: #f4f4f4;
  	box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.08);
	z-index: 2;
}

#contact-div #get-to-know {
	font-family: GothamRoundedMedium;
	font-size: 1.67vw; /* 24px */
	letter-spacing: 2px;
	text-align: center;
	color: #00000c;
	margin-bottom: 20px;
}

#contact-div #shy-to-call {
	font-family: MontserratRegular;
	font-size: 2.78vw; /* 40px */
	line-height: 1.6;
	text-align: center;
	color: #e82946;
	margin-bottom: 60px;
}

#contact-div #email-phone-div {
	margin-bottom: 60px;
	text-align: center;
	border-bottom: solid 2px #00000c;
}

#contact-div #email-phone-div input {
	font-family: GothamRoundedBold;
	font-size: 2.78vw; /* 40px */
	text-align: center;
	color: #5a5a5a;
	border: none;
	background: transparent;
	outline: none;
	padding: 20px 0;
	opacity: 0.4;
}

#contact-div #call-btn {
	text-align: center;
}

#contact-div #call-btn button {
	font-family: GothamRoundedBold;
	font-size: 0.97vw; /* 14px */
	letter-spacing: 2.1px;
	text-align: center;
	color: #ffffff;
	background-color: #e82946;
	border: none;
	padding: 1.39vw 4.17vw; /* 20px 60px */
}