#image-content-div {
	height: 80vh;
  	width: 80%;
    margin: auto;
	position: relative;
}

#image-content-div #ic-title {
	font-family: MontserratBold;
  	font-size: 4.17vw; /* 60px */
  	color: #ffffff;
  	position: relative;
	margin-bottom: 2.78vw; /* 40px */
}

#image-content-div #ic-desc {
	font-family: GothamRoundedMedium;
  	font-size: 1.25vw; /* 18px */
  	color: #ffffff;
  	position: relative;
	margin-bottom: 4.17vw; /* 60px */
}

#image-content {
	width: 50%;
}

#explore-btn {
	position: relative;
}

#explore-btn button {
	color: #ffffff;
	padding: 1.39vw 4.17vw; /* 20px 60px */
    background-color: rgba(0, 0, 12, 0.1);
    border: solid 2px #ffffff;
    letter-spacing: 2px;
    font-size: 0.97vw; /* 14px */
  	font-family: GothamRoundedBold;
}

#middle-content {
	position: relative;
  	background-color: #f4f4f4;
}

#overview-div {
	height: 75vh;
	position: relative;
	box-shadow: 0 1px 2px 0 #979797;
}

#ov-title {
	font-family: GothamRoundedMedium;
  	font-size: 1.67vw; /* 24px */
  	letter-spacing: 2px;
  	text-align: center;
  	color: #00000c;
  	-webkit-text-stroke: 1px #979797;
	margin-bottom: 1.39vw; /* 20px */
}

#ov-desc {
	font-family: MontserratRegular;
  	font-size: 2.78vw; /* 40px */
  	line-height: 1.6;
  	text-align: center;
  	color: #e82946;
}

#ov-para {
	font-family: GothamRoundedBook;
  	font-size: 1.46vw; /* 21px */
  	line-height: 1.8;
  	text-align: center;
  	color: #5a5a5a;
  	-webkit-text-stroke: 1px #979797;
}

#ov-para p {
	margin-bottom: 0px;
}

#services-content .each-service {
	height: 75vh;
	box-shadow: 0 1px 2px 0 #979797;
}

.each-service .left, .each-service .right { 
  	width: 50%;
	height: 100%
} 

.each-service .left  { 
	float: left;
}

.each-service .right { 
	float: right;
}

.left img, .right img {
	height: 100%;
	width: 100%;
}

.left, .right {
	position: relative;
}

.left .text-content, .right .text-content {
	margin-left: 10%;
	width: 80%;
}

#specialize-div {
	font-family: GothamRoundedMedium;
  	font-size: 1.25vw; /* 18px */
  	letter-spacing: 1.5px;
  	color: #00000c;
  	-webkit-text-stroke: 1px #979797;
	margin-bottom: 20px;
}

.left .text-content .title, .right .text-content .title {
	font-family: MontserratRegular;
  	font-size: 2.78vw; /* 40px */
  	line-height: 1.6;
  	color: #e82946;
	margin-bottom: 20px;
}

.left .text-content .title span, .right .text-content .title span {
	color: #00000b;
}

.left .text-content .desc, .right .text-content .desc {
	font-family: GothamRoundedBook;
  	font-size: 1.46vw; /* 21px */
  	line-height: 1.81;
  	color: #5a5a5a;
}

.left .text-content .divider, .right .text-content .divider {
	width: 60px;
	height: 2px;
	background-color: #00000c;
	margin-bottom: 20px;
}

#contact-content {
	position: relative;
	height: 50vh;
  	background-color: #f4f4f4;
  	box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, 0.58);
}

#contact-div #get-to-know {
	font-family: GothamRoundedMedium;
	font-size: 1.67vw; /* 24px */
	letter-spacing: 2px;
	text-align: center;
	color: #00000c;
	margin-bottom: 20px;
}

#contact-div #shy-to-call {
	font-family: MontserratRegular;
	font-size: 2.78vw; /* 40px */
	line-height: 1.6;
	text-align: center;
	color: #e82946;
	margin-bottom: 60px;
}

#contact-div #email-phone-div {
	margin-bottom: 40px;
	width: 100%;
}

#contact-div #email-phone-div input {
	font-family: GothamRounded;
	font-size: 40px;
	text-align: center;
	color: #5a5a5a;
	border: none;
	border-bottom: solid 2px #00000c;
}

#contact-div #email-phone-div input::-webkit-input-placeholder, #contact-div #email-phone-div input::-moz-placeholder{
	font-family: GothamRoundedBold;
	font-size: 40px;
	text-align: center;
	color: #5a5a5a;
	border: none;
}

#contact-div #call-btn button {
	font-family: GothamRoundedBold;
	font-size: 0.97vw; /* 14px */
	letter-spacing: 2.1px;
	text-align: center;
	color: #ffffff;
	background-color: #e82946;
	border: none;
	padding: 1.39vw 4.17vw; /* 20px 60px */
}