<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>AN OVERVIEW</span>
        </div>
        <div id="ov-desc">
            <span>We will help you with what we have learnt</span>
        </div>
        <div id="ov-para">
            <p>To take over everything, from an idea and solutions to realization. We believe in traditions and incorporate them within our innovations for helping out the one in need with our wide range of services offered.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="real-estate-service" class="each-service">
        <div class="left">
            <img src="assets/images/landing_page/realestate.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>SERVICES WE SPECIALIZE IN</span>
                </div>
                <div class="title">
                    <span>Real Estate</span> dolor sit amet, consectectur adipiscing elit
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
    </div>
    <div id="interior-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="title">
                    <span>Interiors</span> dolor sit amet, consectectur adipiscing elit
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/landing_page/interiors.jpg"/>
        </div>
    </div>
    <div id="facility-mgmt-service" class="each-service">
        <div class="left">
            <img src="assets/images/landing_page/facility_management.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="title">
                    <span>Facility Management</span> dolor sit amet, consectectur adipiscing elit
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
    </div>
    <div id="event-mgmt-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="title">
                    <span>Event Management</span> dolor sit amet, consectectur adipiscing elit
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/landing_page/event_management.jpg"/>
        </div>
    </div>
    <div id="automobile-service" class="each-service">
        <div class="left">
            <img src="assets/images/landing_page/automobile.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="title">
                    <span>Automobile Retail</span> dolor sit amet, consectectur adipiscing elit
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-content">
    <div id="contact-div" class="transform-y-50">
        <div id="get-to-know">
            <span>GET TO KNOW US</span>
        </div>
        <div id="shy-to-call">
            <span>Shy to call? Don't worry we'll get in touch</span>
        </div>
        <div id="email-phone-div">
            <input type="text" placeholder="Email and phone"/>
        </div>
        <div id="call-btn">
            <button type="button">GIVE ME A CALL</button>
        </div>
    </div>
</div>