<div id="overview-div">
    <div id="overview-content" class="transform-y-50">
        <div id="ov-title">
            <span>AN OVERVIEW</span>
        </div>
        <div id="ov-desc">
            <span>We will help you with what we have learnt</span>
        </div>
        <div id="ov-para">
            <p>To take over everything, from an idea and solutions to realization. We believe in traditions and incorporate them within our innovations for helping out the one in need with our wide range of services offered.</p>
        </div>
    </div>
</div>
<div id="services-content">
    <div id="real-estate-service" class="each-service">
        <div class="left">
            <img src="assets/images/landing_page/realestate.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="specialize-div">
                    <span>SERVICES WE SPECIALIZE IN</span>
                </div>
                <div class="title">
                    <a ng-href="{{'#/real-estate'}}">Real Estate</a>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    To take over everything, from an idea and solutions to realization. We believe in traditions and incorporate them within our innovations for helping out the one in need with our wide range of services offered.
                </div>
            </div>
        </div>
    </div>
    <div id="interior-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="title">
                    <a ng-href="{{'#/interior-design'}}">Interior Design</a>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    We are dedicated to getting to know you to carefully consider the smallest details. Through a collaborative process, we engage with clients on a personal level and aim to craft a custom experience.
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/landing_page/interiors.jpg"/>
        </div>
    </div>
    <div id="facility-mgmt-service" class="each-service">
        <div class="left">
            <img src="assets/images/landing_page/facility_management.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="title">
                    <a ng-href="{{'#/facility-management'}}">Facility Management</a>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Facility Management is a multifaceted discipline to ensure the functionality of the built environment by integrating people, place, process and technology.
                </div>
            </div>
        </div>
    </div>
    <div id="event-mgmt-service" class="each-service">
        <div class="left">
            <div class="text-content transform-y-50">
                <div class="title">
                    <a ng-href="{{'#/event-management'}}">Event Management</a>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Weddings, celebrations, corporate events, expos, road shows or any other event you have in mind, we are here to turn into a grand and never-ever-seen-before event. Our fanatical attention to get everything picture perfect results in a faultless and exceptional event and party organization.
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/images/landing_page/event_management.jpg"/>
        </div>
    </div>
    <div id="automobile-service" class="each-service">
        <div class="left">
            <img src="assets/images/landing_page/automobile.jpg"/>
        </div>
        <div class="right">
            <div class="text-content transform-y-50">
                <div class="title">
                    <a ng-href="{{'#/automobiles'}}">Automobiles</a>
                </div>
                <div class="divider"></div>
                <div class="desc">
                    Quisque pulvinar laoreet tellus, eget varius dui iaculis in. Nulla faucibus eget urna quis iaculis, Nunc nec mollis nisi. Donec ullamcorper at elit ac mollis. 
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-content">
    <div id="contact-div" class="transform-y-50">
        <div id="get-to-know">
            <span>GET TO KNOW US</span>
        </div>
        <div id="shy-to-call">
            <span>Shy to call? Don't worry we'll get in touch</span>
        </div>
        <div id="email-phone-div">
            <input type="text" placeholder="Email and phone"/>
        </div>
        <div id="call-btn">
            <button type="button">GIVE ME A CALL</button>
        </div>
    </div>
</div>